.Home{
    .collection{
        margin-top: 80px;
        
        .info{
            text-align: center;
            padding-bottom: 10px;

            .subheading{
                margin-top: 10px;
            }
        }
        .content{
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            column-gap: 20px;
            row-gap: 40px;
        }
    }
}